@import 'variables';
@import 'helpers/animation';

.circle {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 3px solid @dark-yellow;
    background-color: white;
    text-align: center;
    display: table;   
    position: fixed;
    top: 55%;
    margin-top: -50.5px;
    margin-left: -55px;
    left: 50%;
}

@media (max-width: 640px) and (orientation:landscape){
    .circle{
        margin-top: 0px;
    }
}

.circle-content {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

@circle-bounce-animation: bounce 1s;

.circle-bounce {
    .animation(@circle-bounce-animation); 
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.title {
    text-align: center;
    font-weight: bold;
}

.toolbar {
    color: @bright-orange;
    left: 5px;
    top: 5px;
    font-weight: bold;
    padding-bottom: 10px;
}

@default-card-entrance-animation: fadeIn 2s;

 .animated-div.ng-enter {
     .animation(@default-card-entrance-animation);
}
