doctype html
html(lang="en")
    head
        title Conversation Tips
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        //- inject:css
        //- endinject

    body(ng-app="conversationTips")
        div.container(ng-controller="ConversationCtrl as vm", ng-init="vm.init()")
            div.row
                div.col-xs-12(ng-switch on="vm.currentScreen")
                    block screens
                        include conversation/situation
                        include conversation/moment
                        include conversation/card

    //- inject:js
    //- endinject
